:root {
    --color-primary: #1188e6;
    --color-secondary: #1188e6; /* var(--cyan);*/
    --dark: #484848 !important;
    --shadow: 0 2px 8px rgba(0,0,0,0.15) !important;
    --shadow-lg: rgba(0,0,0,.25) 0 2px 8px !important;
    --shadow-sm: 0 .1rem 1rem rgba(0,0,0,.15) !important;
}


/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  margin-top:100px;
}


.bgimg {
    background-image: url(../Images/Home3.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    top:-50px;
}


.bgimgDownload{
    background-image: url(../Images/download.jpg);
    height: 700px;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-brand{
    color: var(--color-primary) !important;
}

.navbar-transparent{
        box-shadow: none !important;
        background-color: transparent !important;
}

.navbar-transparent .navbar-nav .nav-link, .navbar-transparent .navbar-brand {
    color: white !important;
}

.navbar-transparent .navbar-nav .nav-link:hover, .navbar-transparent .navbar-nav .nav-link:focus{
    color:white !important;
}

#divRicercaAggiuntiva{
    height:300px;
}

.btn{
  border-radius:.25rem;
}

.btn-social{
    height:40px;
    width:40px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.btn-primary{
    border-color: var(--color-primary) !important; /*#ff6b6b !important;*/
    background-color: var(--color-primary) !important;
    color:white;
}

.bg-primary{
    background-color: var(--color-primary) !important;
}

.text-primary{
    color: var(--color-primary) !important;
}

.container-custom{
    margin-top:80px;
    min-height: 350px;
}

.card-annuncio{
    border:none !important;
    /*height:290px !important;*/
    cursor:pointer;
}

.row-message{
    cursor:pointer;
}

.card-annuncio:hover{
   /*box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important*/
}

.card-annuncio .card-body .card-text{
    margin-bottom:5px !important;
}

.card-img-annuncio {
    height: 290px !important;
    border-radius: calc(0.25rem - 1px) 0px 0px calc(0.25rem - 1px) !important;
}

.navbar-center
{
    position: absolute;
    width: 40%;
    left: 30%;
    text-align: center;
    margin: 0px;
}

.navbar-start
{
    position: absolute;
    width: 40%;
    left:60px;
    text-align: center;
    margin: 0px;
    top:10px;
}

#searchBarFilters{
    height: 300px;
    position: absolute;
    z-index: 900;
    width: 100%;
}


/*.fa-custom, .fas-custom{
    -webkit-text-stroke: 1.5px white;
}*/

.sub-nav{
    margin-top:66px;
    z-index:1000;
}

@font-face {
  font-family: Regular;
  src: url(../webfonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Light;
    src: url(../webfonts/Raleway-Light.ttf);
}

@font-face {
    font-family: Medium;
    src: url(../webfonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: Bold;
    src: url(../webfonts/Raleway-Bold.ttf);
}

h1,h2,h3,h4,h5,h6{
    font-family:"Bold" !important;
    color: var(--dark);
}

body {
    font-family: "Regular" !important;
    font-size: .875rem !important;
    font-weight: 600 !important;
}

p{
    font-family:"Regular" !important;
    font-size:90%;
}

/*.form-group-counter{
    width:120px !important;
}*/

.form-control-sm, .custom-select-sm ,.input-group-sm > .form-control{
    max-width:350px !important;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: block !important;
    }
}

@media (max-width: 992px){
    .navbar-start {
        width: 80% !important;
    }
}

.energy-Aplus{
    background-color:#6d9e00 !important;
}

.energy-A{
    background-color:#7fb800 !important;
}

.energy-B{
    background-color:#91d100 !important;
}

.energy-C{
    background-color:#ebc400 !important;
}

.energy-D{
    background-color:#eb9d00 !important;
}

.energy-E{
    background-color:#e67300 !important;
}

.energy-F{
    background-color:#d22300 !important;
}

.energy-G{
    background-color:#b80000 !important;
}

#btnGroupEnergy .active {
    margin: -5px;
    box-shadow: var(--shadow-lg) !important;
    border-radius: 10px;
}

#btnGroupEnergy .disabled{
    opacity:1;
}

.noUi-horizontal {
    height: 7px !important;
}

.noUi-horizontal .noUi-handle {
    width: 20px !important;
    height: 20px !important;
}

.noUi-handle {
    border-radius: 20px !important;
}

.noUi-tooltip {
    padding: 2px !important;
    font-size: small !important;
}

.noUi-handle:after, .noUi-handle:before {
    background: none !important;
}

.noUi-connect{
    background-color:var(--dark) !important;
}

.plus-minus-input {
    /*max-width: 120px;*/
    margin: auto;
}

.plus-minus-input .input-group-field{
    max-width:40px !important;
    text-align:center;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.fb:hover{
    color:white;
}

.text-facebook{
    color:#3B5998 !important;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.text-whatsapp{
    color:#25d366 !important;
}

.google {
  background-color: white;
  border: 2px solid var(--dark);
  color: var(--dark);
}

.ui-menu {
    background-color: #fff !important;
    padding: 0.4rem !important;
    box-shadow: var(--shadow-lg) !important;
    border-radius: 0px !important;
    border: 0 !important;
    z-index: 1050 !important;
    max-height: 300px !important;
    overflow-y: scroll !important;
}

.ui-menu-item:hover, .ui-menu-item-wrapper:hover{
    background-color: transparent !important;
    border:none !important;
    color:var(--dark) !important;
}


.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    text-align: left;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: var(--shadow-lg) !important;
    box-shadow: var(--shadow-lg) !important;
    background-clip: padding-box;
    background-color: white;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  /*background-color: #f5f5f5;*/
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



.ui-menu-item {
    /*border-bottom:1px solid lightgray !important;*/
    padding: .5rem !important;
}

.ui-menu-item:hover {
    border-bottom:1px solid var(--light) !important;
    background-color: var(--light) !important;
}

#txtRicerca{
    max-width:unset !important;
}

.file-label {
   cursor: pointer;
   /* Style as you please, it will become the visible UI component. */
}

.file-input {
   opacity: 0;
   /*position: absolute;*/
   z-index: -1;
}

.ui-autocomplete.source:hover {
    background: #fff;
    border-radius:0px 0px 10px 10px !important;
}

.ui-autocomplete::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.ui-autocomplete {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.search-spinner {
    margin-left: -40px;
    z-index: 1050 !important;
    display:none;
}

.image-profile-edit{
    height:150px;
    width:150px;
}

.image-profile-edit img{
    height:150px;
    width:150px;
}

.agent-popover{
    height:60px;
    width:60px;
    bottom:10px;
    right:90px;
    z-index:1050;
}

img{
    object-fit: cover;
}


.input-validation-error{
    /*border-color: #dc3545;*/
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.btn-group-toggle .active{
    border-color:var(--color-primary) !important;
    background-color: var(--color-primary) !important;
    color:white !important;
}

.dropdown-menu-agent {
    height: 400px;
    width: 400px;
    overflow-y: scroll;
    transform: translate3d(-340px, 60px, 0px) !important;
    top:-20px !important;
    left:-20px !important;
}


#nav-calendar .fc-day-grid-container{
    height:unset !important;
    
}

#nav-calendar .fc-dayGrid-view .fc-body .fc-row {
    min-height: 3em !important;
}

#nav-calendar .fc-widget-header > table > thead > tr{
    height: 2em !important;
}
#nav-calendar .fc-widget-header > table > thead > tH{
    vertical-align: middle !important;
}

#nav-calendar .fc-unthemed .fc-content, #nav-calendar .fc-unthemed .fc-divider,#nav-calendar .fc-unthemed .fc-list-heading td,#nav-calendar .fc-unthemed .fc-list-view,#nav-calendar .fc-unthemed .fc-popover,#nav-calendar .fc-unthemed .fc-row, #nav-calendar .fc-unthemed tbody,#nav-calendar .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color:white !important;
}

#nav-calendar .fc-toolbar h2 {
    font-size: 1.2em !important;
    margin: 0;
}

#nav-calendar .fc-today{
    background-color: var(--color-primary) !important;
    color:white !important;
}

.fc-left h2{
    font-size: 1.2rem !important;
}

.fc-widget-header {
    min-height: 2rem !important;
    /*background-color:var(--cyan) !important;*/
    background-color: transparent !important;
    color: var(--dark) !important;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border: none !important;
}

.fc-unthemed td.fc-today {
    background: var(--light) !important;
    color: white !important;
}

.fc-button {
    padding:.2rem .65em !important ;
    background-color: var(--light) !important;
    color: var(--dark) !important;
    border-color: var(--light) !important;
}


.nav-error-link {
    /*border-color: var(--red) !important;*/
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.error{
    color:var(--red) !important;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color:gray;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid lightgray;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.field-validation-error{
    font-size:80%;
}



.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--color-secondary) !important;
    background-color: var(--color-secondary) !important;
}

.form-group-sm input {
    max-width: 350px !important;
}

#nav{
   min-height: 60px !important;
}

footer a{
    color:var(--gray) !important;
}
footer h5 {
    color: var(--dark) !important;
}

.text-preferred{
    color:coral !important;
}

.section-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bolder !important;
    font-family: "Medium" !important;
    color: var(--dark);
}


/*
    MODIFICHE PER ALLINEAMENTO INTERFACCE APP + WEB
*/

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
    border-right: none !important;
}

.btn-show-password{
    border-left: none !important;

}

.home-title {
    font-size: 1.8rem;
}

.home-subtitle{
    font-size: 1.4rem;
}

.title {
    font-family: "Bold" !important;
    color: var(--dark);
    font-size: 1.4rem;
    margin-bottom: 1rem !important;
}

.modal-section-title {
    font-family: "Bold" !important;
    color: var(--dark);
    font-size: 1.1rem;
    margin-bottom: 1rem !important;
}


.subtitle{
    font-family:"Medium" !important;
    color: var(--dark);
    font-size: 1.1rem;
}

.adTitle{
    font-family:"Medium" !important;
    color: var(--dark);
    font-size: 18px;
}

span {
    font-size: 14px;
    font-family: "Light" !important;
    color: var(--dark);
}

.info {
    font-size: 14px;
    color: var(--dark);
}

.ad-action-button{
   width:38px;
   height:38px;
   border-radius: 50%!important;
   background-color:white;
   padding: .5rem!important;
   box-shadow: rgba(0,0,0,.14) 0 1px 1px 1px !important;
}

.ad-action-button:hover{
    box-shadow: rgba(0,0,0,.14) 0 1px 1px 1px !important;
}

label{
    margin-bottom:0px !important;
    color:var(--dark);
}

.shadow {
    box-shadow: var(--shadow) !important;
}

.shadow-lg {
    box-shadow: var(--shadow-lg) !important;
}

.btn-ad-detail-action{
    background-color: #fff;
    color: var(--dark);
    padding: .4rem!important;
    margin: .5rem;
    font-size: 14px;
}

#create-pills-tab {
    flex-wrap: nowrap !important;
    overflow: scroll !important;
}
#create-pills-tab .nav-link {
    background-color: white;
    margin-top: .5rem;
   white-space:nowrap !important;
}

#create-pills-tab .active {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    font-weight: 700;
    border-radius: 50rem !important;
    color: white !important;
}

.input-group-text{
    background-color:white !important;
    font-family:'Medium' !important;
}

#cookieConsent{
    z-index:1200;
    bottom:0!important;
    margin:0!important;
    height:100px;
    width:100%;
    box-shadow: rgba(0,0,0,.14) 5px 5px 5px 9px !important;
}

.scroll-y{
    overflow-y:scroll;
}


.home-box-shadow-1 {
    background-image: url(../Images/home.jpg);
    box-shadow: rgba(0,0,0,.15) 0 2px 8px !important;
    border-radius: .6rem !important;
    background-color: white;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.home-box-shadow-2{
    background-image: url(../Images/home2.jpeg);
    box-shadow: rgba(0,0,0,.15) 0 2px 8px !important;
    border-radius: .6rem !important;
    background-color: white;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.home-box-shadow-3 {
    background-image: url(../Images/home3.jpg);
    box-shadow: rgba(0,0,0,.15) 0 2px 8px !important;
    border-radius: .6rem !important;
    background-color: white;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn-swh {
    box-shadow: rgba(0,0,0,.16) 0 2px 8px !important;
}

.modal-content {
    border-radius: 1rem !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus,
select:focus,
.uneditable-input:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: 1px solid #ced4da;
}

select {
    max-width: 350px !important;
}

.nav-link, .nav-item .dropdown-menu .dropdown-item {
    font-family: "Medium" !important;
    font-weight: 700 !important;
    font-size: .875rem !important;
    font-weight: 600 !important;
}

.fc-body .fc-row {
    height: 50px !important;
}

.fc-bgevent {
    background: repeating-linear-gradient( -55deg, var(--dark), var(--dark) 10px, var(--gray) 10px, var(--gray) 20px ) !important;
opacity:0.2 !important;
}

.fc-unthemed .fc-disabled-day {
    background: white !important;
}

#appointment-available .active{
   color:white;
}

.fc-day-grid-container{
    overflow:hidden !important;
}

.profile-picture{
    width:50px !important;
    height: 50px !important;
}

.avatar-picture {
    width: 70px !important;
    height: 70px !important;
    cursor:pointer !important;
}

.card-ad-active {
    box-shadow: var(--shadow) !important;
    padding: 10px;
}

.text-danger {
    color: var(--danger) !important;
    /*  padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);*/
    font-family: "Medium" !important;
}


.dropdown-menu a:active {
    background-color: var(--light) !important;
    color:var(--dark);
}

.fc-day-grid-container{
    height:auto !important;
}

.fc td, .fc th {
    border-radius: 10px 10px 10px 10px !important;
}

.fc-row .fc-bgevent-skeleton td, .fc-row .fc-highlight-skeleton td {
    border: 2px solid white !important;
}


.fc-today .fc-day-number {
    border-radius: 50%;
    background-color: var(--dark);
    height: 20px;
    width: 20px;
    text-align: center;
    margin: 5px;
    color: white;
}

.fc-left h2{
    font-family: "Medium" !important;
}

.fc-unthemed td.fc-today {
    background-color:transparent !important;
    color: #fff !important;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: unset !important;
    padding: 0 !important;
}

.modal-header .close span {
    font-size:25px;
}

.modal-header, .modal-footer {
    border:none !important;
    box-shadow:var(--shadow-sm);
}

.va-picture {
    height: 50px;
    width: 50px;
    z-index: 1010;
    cursor: pointer
}

.dropdown-menu{
    font-size:.870rem !important;
}

@media (max-width: 768px) {
    #col-app-home img {
        height: 30rem;
    }
}

@media (max-width: 992px) {
    .navbar-brand {
        display: none;
    }

    .navbar-toggler {
        display: block;
    }
}

@media (min-width: 768px) {
    #col-app-home {
        text-align: right !important;
    }

    #col-app-desc-home {
        text-align: left !important;
    }

    #col-app-home img {
        height: 45rem;
    }
}

@media (min-width: 992px) {
    #col-app-home {
        text-align: right !important;
    }

    #col-app-desc-home {
        text-align: left !important;
        padding-top: 15rem !important;
    }

    #img-app-home {
        height: 45rem;
    }

    .navbar-brand {
        display: block;
    }

    .navbar-toggler {
        display: none;
    }
}