<div class="modal" id="chat-modal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chat-modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="chat-modal-body" class="modal-body p-0 text-center" style="height:500px">
                <div id="chat-spinner-loading" class="spinner-border mt-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>

                <div id="messages-list"  class="container-fluid">
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-10">
                            <textarea id="chat-textarea" class="form-control" placeholder="Manda un messaggio"></textarea>
                        </div>
                        <div class="col-2">
                            <button id="btn-send" class="btn btn-primary rounded-circle" style="height:40px;width:40px"> <i class="fas fa-arrow-up"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>


