@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert bg-white position-fixed alert-dismissible fade show rounded-0 p-4"  role="alert">
        <span>Questo sito utilizza cookie tecnici e di terze parti, continuando la navigazione ne accetti l'utilizzo.
        </span>
            <br />
       <span>Per saperne di più leggi la nostra <a asp-area="" asp-controller="Home" asp-action="CookiePolicy">politica sui cookie</a>
        </span> 
        <button type="button" class="accept-policy close m-4" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accetta</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
