@model FilterModalViewModel

<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtri</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-12 mb-4">
                            <h6 >Tipologia proprieta</h6>

                             
                            @{ 

                                    IEnumerable<AppAppartamentiApiClient.TipologiaProprieta> tipologiaProprieta = (IEnumerable<AppAppartamentiApiClient.TipologiaProprieta>)ViewData["ListaTipologiaProprieta"];

                                          @Html.DropDownListFor(m => m.IdTipologiaProprieta,
                                            new SelectList(tipologiaProprieta,"Id","Descrizione",Model?.IdTipologiaProprieta),
                                             null,new {@id="selectTipologiaProprieta", @class = "custom-select" })

                          }

                        </div>

                        <div class="col-12 mb-4">
                            <h6>Tipologia annuncio</h6>

                            @{
                                IEnumerable<AppAppartamentiApiClient.TipologiaAnnuncio> listaTipologiaAnnuncio = (IEnumerable<AppAppartamentiApiClient.TipologiaAnnuncio>)ViewData["ListaTipologiaAnnuncio"];


                                @Html.DropDownListFor(m => m.IdTipologiaProprieta,
                                            new SelectList(listaTipologiaAnnuncio,"Id","Descrizione",Model?.IdTipologiaAnnuncio),
                                             null,new {@id="selectTipologiaAnnuncio", @class = "custom-select" })
                              
                            }
                        </div>


                        <div class="col-12 mb-4">
                            <h6 class="mb-5">Prezzo</h6>
                            <div id="sliderPrezzo" data-minValue="@Model?.PrezzoMin" data-maxValue="@Model?.PrezzoMax"></div>
                            <p class="float-left text-muted small">50.000€</p>
                            <p class="float-right text-muted small">500.000€</p>
                        </div>

                        <div class="col-12 mb-4">
                            <h6 class="mb-5" >Dimensione</h6>
                            <div id="sliderDimensione" data-minValue="@Model?.DimensioneMin" data-maxValue="@Model?.DimensioneMax"></div>
                            <p class="float-left text-muted small">50m²</p>
                            <p class="float-right text-muted small">500m²</p>
                        </div>

                        <div class="col-xs-12 col-sm-4 mb-4">
                            <h6 class="mb-3">Bagni</h6>
                            <div class="input-group plus-minus-input justify-content-center">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="minus" data-field="NumeroBagni">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <input class="input-group-field form-control form-control-sm bg-light border-0 rounded " disabled  id="NumeroBagni" name="NumeroBagni" value="@Model?.NumeroBagni">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="plus" data-field="NumeroBagni">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 mb-4">
                            <h6 class="mb-3">Camere da letto</h6>
                            <div class="input-group plus-minus-input justify-content-center">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="minus" data-field="NumeroCamereLetto">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <input class="input-group-field form-control form-control-sm bg-light border-0 rounded " disabled id="NumeroCamereLetto" name="NumeroCamereLetto" value="@Model?.NumeroCamereLetto">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="plus" data-field="NumeroCamereLetto">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 mb-4">
                            <h6 class="mb-3">Altre stanze</h6>
                            <div class="input-group plus-minus-input justify-content-center">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="minus" data-field="NumeroAltreStanze">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <input class="input-group-field form-control form-control-sm bg-light border-0 rounded " disabled id="NumeroAltreStanze" name="NumeroAltreStanze" value="@Model?.NumeroAltreStanze">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="plus" data-field="NumeroAltreStanze">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 mb-4">
                            <h6 class="mb-3">Cucine</h6>
                            <div class="input-group plus-minus-input justify-content-center">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="minus" data-field="NumeroCucine">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <input class="input-group-field form-control form-control-sm bg-light border-0 rounded " disabled id="NumeroCucine" name="NumeroCucine" value="@Model?.NumeroCucine">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="plus" data-field="NumeroCucine">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 mb-4">
                            <h6 class="mb-3">Garage</h6>
                            <div class="input-group plus-minus-input justify-content-center">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="minus" data-field="NumeroGarage">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <input class="input-group-field form-control form-control-sm bg-light border-0 rounded " disabled id="NumeroGarage"  name="NumeroGarage" value="@Model?.NumeroGarage">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="plus" data-field="NumeroGarage">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 mb-4">
                            <h6 class="mb-3">Posti auto</h6>
                            <div class="input-group plus-minus-input justify-content-center">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="minus" data-field="NumeroPostiAuto">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <input class="input-group-field form-control form-control-sm bg-light border-0 rounded " disabled id="NumeroPostiAuto" name="NumeroPostiAuto" value="@Model?.NumeroPostiAuto">
                                <div class="input-group-button">
                                    <button type="button" class="button hollow circle btn btn-dark rounded-circle btn-sm" data-quantity="plus" data-field="NumeroPostiAuto">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12  mb-4">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitchAscensore" checked="@Model?.Ascensore">
                                <label class="custom-control-label" for="customSwitchAscensore">Ascensore</label>
                            </div>
                        </div>

                        <div class="col-12 mb-4">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitchPiscina" checked="@Model?.Piscina">
                                <label class="custom-control-label" for="customSwitchPiscina">Piscina</label>
                            </div>
                        </div>

                        <div class="col-12 mb-4">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitchCantina" checked="@Model?.Cantina">
                                <label class="custom-control-label" for="customSwitchCantina">Cantina</label>
                            </div>
                        </div>

                        <div class="col-12 mb-4">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitchGiaridno" checked="@Model?.Giardino">
                                <label class="custom-control-label" for="customSwitchGiaridno">Giaridno</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="btnSaveFilter" type="button" class="btn btn-primary">Salva filtri</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/filter-modal.js" asp-append-version="true"></script>
