<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <div class="row">
                  <div class="col-6">
                      <h4>Accedi</h4>
                  </div>
                  <div class="col-6">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                  </div>
              </div>

              <div class="row p-3 justify-content-center">
                  <form asp-controller="Login" asp-action="Accedi" method="post">
                    <input name="Email" class="form-control col-12 mb-2" type="email" placeholder="Email">
                    <input name="Password" class="form-control col-12 mb-2" type="password" placeholder="Password">
                    <button type="submit" class="btn btn-primary mb-2 btn-block">Accedi</button>

                    <div>
                        <a class="text-muted" href="#"><small> Password dimenticata? Ti aiuteremo a recuperarla</small></a>
                        <hr>
                    </div>

                    <bttton id="btnFacebookLogin" class="btn btn-outline-primary" ><i class="fab fa-facebook-f"></i>&nbsp;Accedi con Facebook</bttton>
                    <bttton id="btnGoogleLogin" class="btn btn-outline-danger ml-2"> <i class="fab fa-google"></i>&nbsp;Accedi con Google</bttton>

                    <div>
                        <hr>
                        <a id="btnSignUp" class="text-muted btn btn-block btn-link btn-sm"
                           href="#"> Non sei ancora registrato? <strong class="text-primary">Registrati</strong></a>
                    </div>
                 </form>
              </div>
          </div>
        </div>
      </div>
    </div>