@model AppAppartamentiApiClient.RegisterUserBindingModel

<div class="modal fade" id="modalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-6">
                        <h4>Registrati</h4>
                    </div>
                    <div class="col-6">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>

                <div class="row p-3 justify-content-center">
                    <div class="col-12">
                        <form asp-controller="Login" asp-action="SignUp" >
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <!--<div class="form-group">
                                <input asp-for="ImmagineProfilo" class="form-control" />
                                <span asp-validation-for="ImmagineProfilo" class="text-danger"></span>
                            </div>-->
                            <div class="form-group">
                                <input asp-for="Name" placeholder="Nome" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Surname" placeholder="Cognome" class="form-control" />
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <input asp-for="DataNascita" placeholder="Data di nascita" class="form-control" />
                                <span asp-validation-for="DataNascita" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Password" placeholder="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" placeholder="Conferma password"  class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Accetto le condizioni d'uso</label>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block" value="Registrati" />
                            </div>
                        </form>

                        <hr />

                        <a id="btnSignIn" class="text-muted btn btn-block btn-link btn-sm">
                            Sei già registrato? <strong class="text-primary">Accedi</strong>
                        </a>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


