<div class="btn-group dropup position-fixed" style="bottom:20px; right:20px; z-index:1050">
  <button type="button" class="btn btn-primary rounded-circle" style="height:60px;width:60px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-user-secret h4"></i>
  </button>
  <div class="dropdown-menu shadow-lg border-0" style="height:400px;width:400px;overflow-y:scroll">
      <div class="container-fluid p-0">
        <h6 class="pl-1">Suggerimenti</h6>

        <a class="dropdown-item" href="#">link 1</a>
        <a class="dropdown-item" href="#">link 2</a>
        <a class="dropdown-item" href="#">link 3</a>

        <div class="dropdown-divider"></div>

        <h6 class="pl-1">Link utili</h6>
        <a class="dropdown-item" href="#">link 4</a>
        <a class="dropdown-item" href="#">link 5</a>
        <a class="dropdown-item" href="#">link 6</a>
        <a class="dropdown-item" href="#">link 7</a>

        <div class="dropdown-divider"></div>

        <h6 class="pl-1">Documentazione</h6>
        <a class="dropdown-item" href="#">Documento 1</a>
        <a class="dropdown-item" href="#">Documento 2</a>
        <a class="dropdown-item" href="#">Documento 3</a>
        <a class="dropdown-item" href="#">Documento 4</a>
      </div>
  </div>
</div>