<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotificationService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="NotificationService.Properties.Settings.AppAppartamentiApi_DataConnectionString"
            connectionString="Data Source=VM023019C\SQLEXPRESS;Initial Catalog=AppAppartamentiApi_Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <NotificationService.Properties.Settings>
            <setting name="IntervalTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AccountName" serializeAs="String">
                <value>simone.bitti1996-gmail.com</value>
            </setting>
            <setting name="AppIosName" serializeAs="String">
                <value>PromuovoCasaIOS</value>
            </setting>
            <setting name="AppAndroidName" serializeAs="String">
                <value>PromuovoCasaAndroid</value>
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value>a4a55859acdb083dede34d3d20785f6fb94c638f</value>
            </setting>
        </NotificationService.Properties.Settings>
    </applicationSettings>
</configuration>