@{
    ViewData["Title"] = "Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container container-custom">
    <div class="row">
        <div class="col-sm-7">
            <div id="calendar2"></div>
        </div>
        <div class="col-sm-5">
            <div id="ListAppointment">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="appointmentDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Riepilogo appuntamento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="AppointmentDetail">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var ListAppointmentUrl = "@Url.Action("GetAppointmentList", "Agenda")";
        var DetailAppointmentUrl =  "@Url.Action("GetAppointmentDetail", "Agenda")";
    </script>
    <script src="~/js/agenda-list.js" asp-append-version="true"></script>
}

