@model DocumentoDto
@using System.Net.Http

@{
    ViewData["Title"] = "Documento";
}

@section SubHeader {
    
}

<div class="container container-custom">
    <div class="row">
        
    </div>
</div>


@section Scripts {
    <script src="~/js/documenti-details.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}

