@{
    ViewData["Title"] = "Politica sui Cookie";
}

<div class="container container-custom">
<h1>Politica sui cookie di Promuovocasa.it</h1>


<span>
    Promuovocasa.it utilizza cookie e tecnologie simili per fornire, proteggere e migliorare la Piattaforma Promuovocasa.it. La presente politica spiega in che modo e perché utilizziamo queste tecnologie e le scelte a disposizione dell’utente.

Un cookie è un file di dati di piccole dimensioni che viene trasferito sul dispositivo dell’utente (ad es., il suo telefono o il suo computer). Per esempio, un cookie può consentirci di riconoscere il browser dell’utente, mentre un altro può memorizzare le sue preferenze. La Piattaforma Promuovocasa.it utilizza due tipologie di cookie: (1) “cookie di sessione” e (2) “cookie persistenti.” I cookie di sessione normalmente scadono quando l’utente chiude il suo browser, mentre i cookie persistenti rimangono sul suo dispositivo anche dopo la chiusura del browser e possono essere nuovamente utilizzati in occasione del successivo accesso dell’utente alla Piattaforma Promuovocasa.it.

Utilizziamo inoltre altre tecnologie con funzionalità simili a quelle dei cookie, quali, ad esempio, web beacon, pixel, identificatori di dispositivi mobili e URL di tracciamento per ottenere Dati di log (come descritto nell’Informativa sulla privacy). Ad esempio, i nostri messaggi di posta elettronica possono contenere web beacon e URL di tracciamento per determinare se l’utente ha aperto un determinato messaggio o ha effettuato l’accesso a un determinato link.
</span>


<h4>Perché utilizziamo queste tecnologie</h4>

<span>
    Utilizziamo queste tecnologie per diversi scopi, tra cui, ad esempio:

    Per consentire all’utente di utilizzare e accedere alla Piattaforma Promuovocasa.it e ai Servizi di pagamento.
    Per consentire, facilitare e ottimizzare il funzionamento della Piattaforma Promuovocasa.it e l’accesso dell’utente alla stessa.
    Per comprendere meglio come l’utente naviga sulla Piattaforma Promuovocasa.it e interagisce con la stessa e per migliorare la Piattaforma Promuovocasa.it.
    Per proporre all'utente pubblicità personalizzata (ad es. sulla Piattaforma Promuovocasa.it, nelle e-mail e sui siti web di terze parti).
    Per mostrare all’utente contenuti (ad es. pubblicità) maggiormente pertinenti allo stesso.
    Per monitorare e analizzare le prestazioni, il funzionamento e l’efficacia della Piattaforma Promuovocasa.it e della pubblicità di Promuovocasa.it.
    Per far rispettare accordi legali che disciplinano l’uso della Piattaforma Promuovocasa.it.
    Per il rilevamento e la prevenzione delle frodi, per garantire affidabilità e sicurezza e per indagini.
    Per finalità di assistenza alla clientela, analisi di dati, ricerca, sviluppo dei prodotti e conformità normativa.

</span>


<h4>Cookie</h4>
<span>
    Quando l’utente visita i nostri siti web, inseriamo cookie sul suo computer. I cookie sono piccoli file di testo che i siti web inviano al computer dell’utente o ad altri dispositivi connessi a Internet per identificare in modo univoco il suo browser o per memorizzare informazioni o impostazioni nel suo browser. I cookie ci consentono di riconoscere l’utente quando riaccede alle pagine già visitate. Inoltre, ci aiutano a fornire un’esperienza personalizzata e ci consentono di individuare determinati tipi di frodi.

In molti casi è possibile gestire le preferenze relative ai cookie e disattivare i cookie e altre tecnologie di raccolta dati utilizzate modificando le impostazioni nel browser. Tutti i browser sono diversi, quindi occorre consultare la sezione “Guida” del browser quando si desidera conoscere le preferenze sui cookie e le altre impostazioni sulla privacy che potrebbero essere disponibili. Si noti che se si sceglie di rimuovere o rifiutare i cookie, o cancellare la memoria locale, ciò potrebbe influire sulle caratteristiche, la disponibilità e la funzionalità dei nostri siti Web.
</span>


<h4 >Terze parti</h4>
<span>
    Possiamo consentire inoltre a determinati partner commerciali di collocare tali tecnologie sulla Piattaforma Promuovocasa.it. Tali partner utilizzano le suddette tecnologie per (1) aiutarci a analizzare in che modo l’utente utilizza la Piattaforma Promuovocasa.it, ad esempio registrando i servizi di terzi da cui l’utente è arrivato, (2) commercializzare e pubblicizzare i servizi di Promuovocasa.it all’utente sulla Piattaforma Promuovocasa.it e su siti web di terzi, (3) aiutarci a rilevare o prevenire frodi o condurre valutazioni del rischio o (4) raccogliere informazioni sulle attività dell’utente sulla Piattaforma Promuovocasa.it, altri siti e/o gli annunci su cui l’utente ha cliccato. Ad esempio, al fine di aiutarci a capire meglio come le persone utilizzano la Piattaforma Promuovocasa.it, lavoriamo con un numero di partner provider di analitiche web, tra cui Google Analytics. Per impedire a Google Analytics di usare i suoi dati per analitiche web, l’utente può installare l’Opt-Out Browser di Google Analytics cliccando qui.

I terzi possono utilizzare inoltre tali tecnologie di tracciamento per fornire annunci pubblicitari che ritengono essere di maggiore interesse per l’utente e per valutare l’efficacia dei loro annunci sia sulla Piattaforma Promuovocasa.it che su altri siti web e servizi online. I cookie di targeting e pubblicitari che utilizziamo possono includere Google e altre reti e servizi pubblicitari che usiamo di volta in volta. Per ulteriori informazioni su cookie di targeting e pubblicitari e su come tu possa scegliere di rifiutarli, puoi visitare la pagina sull’opt-out della Network Alliance Initiative, la pagina sull’opt-out della Digital Advertising Alliance, o http://youronlinechoices.eu. Per impedire a Google Analytics di mostrare pubblicità o personalizzare gli annunci sulla rete display di Google, è possibile visitare la pagina delle Impostazioni di Google Ads. Nella misura in cui la tecnologia pubblicitaria è integrata nella Piattaforma Promuovocasa.it e l’utente sceglie di non ricevere pubblicità personalizzata, l’utente può tuttavia continuare a ricevere contenuti pubblicitari. In tal caso, il contenuto della pubblicità non sarà semplicemente adattato agli interessi dell’utente. Inoltre, noi non controlliamo alcuno di tali link di opt-out e non siamo responsabili per la disponibilità o l’accuratezza di detti meccanismi.


</span>
</div>