@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container container-custom">

<h1>Informativa sulla privacy di Promuovocasa.it</h1>

<h4>Dati che raccogliamo</h4>
<span>
    Quanto utilizzi la Piattaforma, ti chiediamo e raccogliamo i seguenti dati personali. Queste informazioni sono necessarie per l’adeguata esecuzione del contratto stipulato tra noi e l’utente, e ci consentono di agire in conformità ai nostri obblighi legali. Senza questi dati, potremmo non essere in grado di fornirti tutti i servizi richiesti.

    Dati dell’Account. Dati dell’Account. Quando registri un nuovo Account Promuvocasa.it, ti chiediamo di fornire alcuni dati quali il tuo nome e cognome, indirizzo email e data di nascita.
    Dati del profilo e degli Annunci. Per utilizzare determinate funzionalità della Piattaforma Promuvocasa.it (come prenotare o creare un Annuncio) potremmo chiederti di fornirci ulteriori dati tra cui il tuo indirizzo, il numero di telefono e l’immagine del profilo.
    Informazioni di autenticazione. Per contribuire a creare e mantenere un ambiente affidabile, possiamo raccogliere dati di identificazione (come una foto del tuo documento d’identità, del passaporto o della patente, se consentito dalla legge applicabile) o altre informazioni di autenticazione. Per ulteriori informazioni si legga il nostro articolo del Centro assistenza riguardo a [fornire l’identificazione su Promuvocasa.it].
</span>

</div>