@{
    ViewData["Title"] = "View";
}

    <div id="main-container" class="container container-custom">
        <div class="row">

            <div id="map-container" class="col-xs-12 col-sm-6" style="display:none;">
                <div id="googleMap" class="map w-100 h-100 rounded-lg"></div>
            </div>

            <div id="container-annunci" class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <div class="row">
                    <div class="col">
                        <label class="title">
                            Annunci
                        </label>
                    </div>
                    <div class="col text-right">
                        <button id="btn-show-map" type="button" class="btn btn-link text-dark bg-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-map-marked-alt"></i>&nbsp;Visualizza su mappa
                        </button>
                   </div>
               </div>


                   <!--<button id="btn-show-map" type="button" class="btn bg-white rounded-circle shadow-lg float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Visualizza su mappa&nbsp;<i class="fas fa-map-marked-alt"></i>
    </button>
    <div class="input-group input-group-sm float-right mt-2 mr-2" style="max-width:150px">
        <div class="input-group-prepend">
            <label class="input-group-text border-0 bg-light" for="inputGroupSelect01"><i class="fas fa-sort-amount-down-alt"></i></label>
        </div>
        <select class="custom-select border-0 bg-light" id="select-order">
            <option value="" selected>Ordina per</option>
            <option value="0">Prezzo - Dal più alto</option>
            <option value="1">Prezzo - Dal pi basso</option>
            <option value="2">Superficie - Dal più grande</option>
            <option value="3">Superficie - Dal più piccolo</option>
        </select>
    </div>-->

                        @{//await Html.RenderPartialAsync("_VirtualAgentBuy");
                        }


                        <div id="annunci">
                            <div class="text-center">
                                <div id="chat-spinner-loading" class="spinner-border mt-5" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>

                    </div>

        </div>
    </div>

@section Scripts {
    <script type="text/javascript">
        var UrlRefresh = "@Url.Action("RefreshList", "Annunci",new { ListPage = 1})";
    </script>

    <script src="~/js/annunci-list.js" asp-append-version="true"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUDWKfs6tGF891vL-VwXYubP_IKuG8exg&callback=setMap"></script>
}